body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #020617;
    padding: 10px 20px;
}

.navbar input {
    padding: 8px;
    border-radius: 6px;
    border: none;
}

/* TAB */
.tabs {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.tab {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #1e293b;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.tab.active {
    background: #38bdf8;
}

/* CONTENT */
.content {
    display: none;
    padding: 20px;
}

.content.active {
    display: block;
}

/* CARD */
.card {
    background: #1e293b;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    background: #334155;
    transform: scale(1.05);
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/* BACK */
.back {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
